<!DOCTYPE html>
<html>
<head>
  <title>Tbili</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhQVhVbmr3Gbz1mTNMpraCTvaw7bhwbJ0" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://use.fontawesome.com/5c7ecf55f7.js"></script>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700' %>
  <%= javascript_include_tag 'application' %>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
